{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;  
}

.titulo{
    color: #2825EE;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/*Header */

header{
    width: 100%;
    height: 600px;
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, hsla(217,73%,61%,0.671), hsla(222,19%,24%,0.671)), url(../img/portada.png);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(217,73%,61%,0.671), hsla(222,19%,24%,0.671)), url(../img/portada.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size:cover;
background-attachment: fixed;
position: relative;    
}

nav{
  text-align: right;
  padding: 30px 50px 0 0;  
}

nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

p > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

p > a:hover{
    text-decoration: underline;
}

header .textos-header{
 display: flex;
 height: 430px;
 width: 100%;    
 align-items: center;
 justify-content: center;
 flex-direction: column; 
 text-align: center;    
}

.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*Introduccion*/

main .de-introduccion{
   padding: 30px 0 60px 0; 
}

.contenedor-de-introduccion{
    display: flex;
    justify-content: space-evenly;
}

.imagen-intro{
    width: 48%;
}

.de-introduccion .contenido-textos{
    width: 48%;  
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos p{
   padding: 0px 0px 30px 15px; 
   font-weight: 300;
   text-align: justify; 
}

/*Galeria*/

.contenido{
    background:#f2f2f2;
}

.galeria-cont{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-cont{
    width: 24%;
    margin-bottom: 10px;
    height: 160px;
    overflow: hidden;
    position: relative;
    cursor:pointer;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
}

.imagen-cont > img{
    width: 100%;
    height: 100%
    object-fit:cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    transform: scale(0);
    background: hsla(217,73%,61%,0.671);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color:#fff;
}

.imagen-cont:hover .hover-galeria{
    transform: scale(1);
}

/* footer */

footer{
    background: #414141;
    padding: 20px 0 20px 0;
    margin: auto;
    overflow: hidden;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #fff;
}

@media screen and (max-width:900px){
    header{
        background-position:center;
    }
    .contenedor-de-introduccion{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .de-introduccion .contenido-textos{
        width: 90%;
    }
    
    .imagen-intro{
        width: 90%;
    }
    .imagen-cont{
        width: 44%;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }
    
    nav > a{
        margin-right: 5px;
    }
    
    .textos-header h1{
        font-size: 35px;
    }
    
    .textos-header h2{
        font-size: 20px; 
    }
    
    .imagen-intro{
        margin-bottom: 60px;
        width: 99%;
    }
    
    .de-introduccion .contenido-textos{
        width: 95%;
    }
    
    .imagen-cont{
        width: 95%;
    }
    
    .titulo-final{
        font-size: 20px;
    }
}